@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:hover {
  text-decoration: none;
}

button {
  border: none;
}

:root {
  --Ubuntu-font: "Ubuntu", sans-serif;
  --light-black: #404042af;
  --blue-chroma: #3d9a92;
  --light-blue: #67a59eaf;
  --bggradient: linear-gradient(to bottom, #010810, #070506);
  --light-gray: rgba(255, 255, 255, 0.877);
  --gray-chroma: #2d3134;
}

body {
  font-family: "Ubuntu", sans-serif !important;
  font-size: 16px !important;
}

.main-cover {
  background-image: url("/assets/img/Chroma_site-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
  height: auto;
}

.main-header .menu {
  -ms-flex-align: center;
  align-items: center;
  padding-top: 25px;
}

/* Section-1 inicial */

.inicial {
  padding-top: 15vmin;
  padding-bottom: 15vmin;
}

.inicial .row .col-md-6 .cartao-you {
  background: var(--light-blue);
  color: #fff;
  padding: 10vmin 120px;
  z-index: 0;
  transition: all ease 0.4s;
  cursor: pointer;
}

.inicial .row .col-md-6 .cartao-you:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.87);
}

.inicial .row .col-md-6 .cartao-company {
  background: var(--light-black);
  color: #fff;
  padding: 10vmin 120px;
  z-index: 0;
  transition: all ease 0.4s;
  cursor: pointer;
}

.inicial .row .col-md-6 .cartao-company:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.87);
}

.inicial .row .col-md-12 .cartao-company {
  background: linear-gradient(90deg, rgba(79,172,164,0.40379901960784315) 0%, rgba(139,105,21,0.4458158263305322) 100%);
  color: #fff;
  padding: 10vmin 120px;
  z-index: 0;
  transition: all ease 0.4s;
  cursor: pointer;
}

.inicial .row .col-md-12 .cartao-company:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.87);
}

.inicial .row .col-md-6 .cartao-you h2,
.inicial .row .col-md-6 .cartao-company h2 {
  font-size: 32px;
  font-weight: 300;
  line-height: 3rem;
}

.inicial .row .col-md-6 .cartao-you span,
.inicial .row .col-md-6 .cartao-company span {
  font-size: 32px;
  font-weight: 700;
  line-height: 3rem;
}

.inicial .row .col-md-6 .cartao-you p,
.inicial .row .col-md-6 .cartao-company p {
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}

.inicial .row .col-md-6 .cartao-you a,
.inicial .row .col-md-6 .cartao-company a,
.inicial .row .col-md-12 .cartao-company a {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}

.inicial .row .col-md-6 .cartao-you i,
.inicial .row .col-md-6 .cartao-company i {
  padding-left: 8px;
}

.inicial .row .col-md-6 .cartao-you a:hover,
.inicial .row .col-md-6 .cartao-company a:hover {
  color: #fff;
  text-decoration: none;
}

.saiba__button {
  color: #ffffff;
  z-index: 1;
  margin-top: 40px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1rem;
  padding: 15px 0;
  cursor: pointer;
  transition: 0.3s;
}

.saiba__button img {
  margin-left: 10px;
}

.saiba__button:hover {
  color: var(--blue-chroma);
  text-decoration: none;
}

.saiba__button:hover img {
  margin-left: 15px;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .inicial .row .col-md-6 {
    text-align: center !important;
    margin-bottom: 10px;
  }

  .inicial .row .col-md-6:last-child {
    padding-bottom: 10vmin;
  }

  .inicial .row .col-md-6 .cartao-you {
    padding: 10vmin;
  }

  .inicial .row .col-md-6 .cartao-company {
    padding: 10vmin;
  }

  .main-cover {
    height: 100%;
  }
}

/* Footer */

@media only screen and (max-width: 768px) {
  .social .row .brand {
    text-align: center !important;
  }

  .social .row .siga {
    text-align: center !important;
  }

  footer {
    text-align: center;
  }

  .footer .input-group {
    padding: 0 3rem 2rem 3rem !important;
  }
}

.footer {
  background-color: #2d3134;
  color: #fff;
  padding-top: 50px;
}

.footer a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  z-index: 1;
  position: relative;
  line-height: 1.5rem;
  text-decoration: none;
}

.footer a:hover {
  color: var(--blue-chroma);
  text-decoration: none;
}

.footer input {
  background: #313538;
  border: none;
  border-radius: unset;
}

.footer .input-group {
  padding-right: 7rem;
}

.footer input::placeholder {
  background: #313538;
  color: #fff;
}

.footer input:placeholder-shown {
  background: #313538;
  color: #fff;
}

.btn-cadastrar {
  background: #3cb4aa;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #226764;
  border-radius: unset;
}

.btn-cadastrar:hover {
  background: #2d3134;
}
