@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:hover {
  text-decoration: none;
}

button {
  border: none;
}

:root {
  --Ubuntu-font: "Ubuntu", sans-serif;
  --light-black: #404042af;
  --blue-chroma: #3d9a92;
  --light-blue: #67a59eaf;
  --bggradient: linear-gradient(to left, #3d9a92, #226764);
  --btngradient: linear-gradient(to top, #3a817d, #41b0a5);
  --light-gray: rgba(255, 255, 255, 0.877);
  --gray-chroma: #2d3134;
}

body {
  font-family: "Ubuntu", sans-serif !important;
  font-size: 16px !important;
}

.main-header {
  background-image: url("/assets/img/bg-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
  height: 70vh;
}

.kit-header {
  background-image: url("/assets/img/bg-kit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
  height: 70vh;
}

.chroma-header {
  background-image: url("/assets/img/Chroma_site-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
  height: 70vh;
}

.case-header {
  background-image: url("/assets/img/case-banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
  height: 70vh;
}

.empresa-header {
  background-image: url("/assets/img/bg-empresa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
  height: 70vh;
}

.servico-header {
  background-image: url("/assets/img/vistoria-banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
  height: 70vh;
}

.contato-header {
  background-image: url("/assets/img/contato-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
  height: 70vh;
}

@media only screen and (max-width: 768px) {
  .main-header {
    background-position: center center;
    height: 100vh;
  }
}

.main-header .menu-border {
  border-bottom: 1px solid #fff;
}

.main-header .menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}

.main-header .menu img {
  width: 80%;
}

@media (max-width: 780px) {
  .main-header .menu {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .main-header .menu {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .main-header .menu ul {
    width: 100% !important;
    margin-top: 20px;
  }
}

.main-header .menu ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  margin-top: 1rem;
}

.main-header .menu ul a {
  text-decoration: none;
  color: #fff;
  transition: 0.4s all;
  padding-bottom: 6px;
  border-bottom: 2px solid transparent;
}

.main-header .menu ul a:hover {
  border-color: var(--blue-chroma);
  color: var(--blue-chroma);
}

.main-header .menu ul .active {
  border-color: var(--blue-chroma);
  color: var(--blue-chroma);
}

.dropdown-menu {
    background-color: transparent!important;
    border: none!important;
}

.dropdown-item {
  padding: initial!important;
}

.dropdown-item:hover {
  background-color: transparent!important;
  border-color: var(--blue-chroma);
  color: var(--blue-chroma);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media only screen and (max-width: 768px) {
  .main-header .menu ul {
    width: 65%;
  }
}

nav {
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}

nav .menu {
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1;
  width: 100%;
  background: #3b9c90;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s cubic-bezier(1, 0.5, 0, 1);
}

nav .menu.active {
  transform: translateY(0);
}

nav .menu li {
  list-style: none;
}

nav .menu li a {
  padding: 1em;
  color: #fff;
  display: block;
  background: none;
  line-height: 1em;
  font-size: 1.125em;
  text-align: center;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
}

nav .menu li a span {
  border-bottom: 1px dotted #fff;
}

nav .menu li a:hover,
nav .menu li a:focus,
nav .menu li a:active {
  background: rgba(255, 255, 255, 0.2);
}

.navigation {
  height: 70px;
  background: var(--gray-chroma);
  position: fixed;
  z-index: 100;
  width: 100%;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
  z-index: 99;
}

.brand img {
  height: 2em;
}

.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.responsive {
  float: right;
}

.responsive ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.responsive ul li {
  float: left;
  position: relative;
}

.responsive ul li a,
.responsive ul li a:visited {
  display: block;
  padding: 0 30px;
  line-height: 70px;
  background: var(--gray-chroma);
  color: #ffffff;
  text-decoration: none;
}

.responsive ul li a:hover,
.responsive ul li a:visited:hover {
  background: var(--light-black);
  color: #ffffff;
}

.responsive ul li a:not(:only-child):after,
.responsive ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " Ôû¥";
}

.responsive ul li ul li {
  min-width: 190px;
}

.responsive ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--gray-chroma);
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  .responsive {
    width: 100%;
    padding: 70px 0 0px;
    position: fixed;
    z-index: 90;
    box-shadow: 0 3px 12px 0 rgba(50, 50, 50, 0.4);
  }

  .responsive ul {
    display: none;
  }

  .responsive ul li {
    float: none;
  }

  .responsive ul li a {
    padding: 15px;
    line-height: 20px;
  }

  .responsive ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.navigation {
  display: none;
}

@media (max-width: 780px) {
  .navigation {
    display: block;
  }
}

.main-header .header-text {
  text-align: center;
  margin-top: 120px;
  padding: 0px 15%;
}

.main-header .header-text h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  line-height: 3rem;
}

.main-header .header-text span {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  line-height: 3rem;
}

.main-header .header-text p {
  font-size: 24px;
  color: white;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 15px;
}

.main-header .header-text .color-white {
  color: white;
}

.main-header .header-text .color-blue {
  color: #3d9a92;
}

.main-header .header-text .color-blue-bold {
  color: #455269;
}

.main-header .margin-top-zero {
  margin-top: 0px;
}

.icon-animation {
  animation: MoveUpDown 1s infinite alternate;
  padding-top: 30px;
}

@keyframes MoveUpDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.aling-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 80%;
}

@media (max-width: 500px) {
  .aling-center {
    height: 100%;
  }
}

.home-container {
  position: relative;
}

.home-container .services,
.home-container .certificada,
.home-container .clientes,
.home-container .procedimento {
  text-align: center;
  padding: 100px 0px;
}

.home-container .beneficios,
.home-container .vistoria {
  background: #f3f3f5;
  text-align: left;
  padding: 100px 0px;
}

.home-container .cli-servicos {
  background: #f3f3f5;
  text-align: center;
  padding: 100px 0px;
}

.home-container .consultor{
  background: url('/assets/img/case-banner2.png');
  text-align: center;
  padding: 100px 0px;
}

.home-container .services .home-title,
.home-container .certificada .home-title,
.home-container .clientes .home-title,
.home-container .beneficios .home-title,
.home-container .procedimento .home-title,
.home-container .vistoria .home-title,
.home-container .unidades .home-title,
.home-container .empresas .home-title {
  margin: 0px;
  padding: 0px;
  color: #303437;
  font-size: 32px;
  margin-bottom: 35px;
  z-index: 1;
  font-weight: 300;
}

.home-container .services .home-subtitle {
  margin: 0px;
  padding: 0px;
  color: #303437;
  font-size: 26px;
  margin-bottom: 35px;
  z-index: 1;
  font-weight: 300;
}

.home-container .services .home-title span,
.home-container .certificada .home-title span,
.home-container .clientes .home-title span,
.home-container .procedimento .home-title span,
.home-container .vistoria .home-title span,
.home-container .unidades .home-title span,
.home-container .empresas .home-title span {
  font-weight: 700;
}

.home-container .services .home-text,
.home-container .certificada .home-text,
.home-container .clientes .home-text,
.home-container .beneficios .home-text, 
.home-container .procedimento .home-text,
.home-container .vistoria .home-text {
  color: #303437;
  font-size: 20px;
  margin-bottom: 35px;
  font-weight: 300;
  z-index: 1;
  position: relative;
  line-height: 1.6rem;
}

.home-container .vistoria a {
  color: var(--gray-chroma);
}

.home-container .unidades {
  background: #f3f3f5;
  text-align: center;
  padding: 100px 0px;
}

.home-container .desafios{
  background: #f3f3f5;
}

.home-container .desafios .text-left {
  align-self: center;
}

.home-container .solution {
  background: var(--bggradient);
  text-align: left;
  padding: 100px 0px;
}

.home-container .solution .bg-check {
  background: url('/assets/img/kitRev-icone3.png') no-repeat;
  background-position: right;
  background-size: contain;
  background-blend-mode: overlay;
}

.home-container .kit {
  width: 100%;
  background: url("/assets/img/bg-kit.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.home-container .kit {
  text-align: center;
  padding: 100px 0px;
}

.home-container .kit .home-title,
.home-container .numeros .home-title,
.home-container .servicos .home-title {
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-size: 32px;
  margin-bottom: 35px;
  z-index: 1;
  font-weight: 700;
}

.home-container .kit .home-text,
.home-container .numeros .home-text,
.home-container .servicos .home-text {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  z-index: 1;
  position: relative;
  line-height: 1.6rem;
}

.home-container .services .carcare {
  padding: 0px 60px;
}

.home-container .services .carcare .row .col-sm {
  background: #f3f3f5;
  font-size: 18px;
  padding: 8px;
  margin: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}

.home-container .services .carcare .row .col-sm a {
  color: #303437;
  text-decoration: none;
}

.home-container .services .carcare .row .col-sm:hover {
  background: #cecece;
  transform: scale(1.1);
}

.home-container .services .especialista form {
  padding: 60px 30px;
  background-color: #2d3134;
  border-radius: 5px;
}

.home-container .services .especialista .form-group .form-control {
  border-radius: 5px;
}

.home-container .services .especialista button {
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: var(--blue-chroma);
  font-size: 1.2em;
  transition: 0.4s ease;
}

.home-container .services .especialista button i {
  margin-left: 10px;
  font-size: 1.6em;
}

.home-container .services .especialista button:hover {
  background-color: #3cb4aa;
  transform: scale(1.05);
}

.saiba__button {
  color: #ffffff;
  z-index: 1;
  margin-top: 40px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1rem;
  padding: 15px 35px;
  cursor: pointer;
  transition: 0.3s;
}

.saiba__button img {
  margin-left: 10px;
}

.saiba__button:hover {
  color: var(--blue-chroma);
  text-decoration: none;
}

.saiba__button:hover img {
  margin-left: 15px;
  transition: 0.3s;
}

.white__button {
  background: none;
  margin-top: 40px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.1rem;
  padding: 15px 35px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: unset;
}

.white__button img {
  margin-left: 10px;
}

.white__button:hover {
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 2px 20px -5px rgba(255, 255, 255, 0.47);
}

.white__button:hover img {
  margin-left: 15px;
  transition: 0.3s;
}

.home-container .floater-detail {
  position: absolute;
  top: 20%;
  right: 0;
  z-index: 0;
}

.home-container .floater-detail img {
  width: 100%;
  opacity: 0.3;
}

.home-container .floater-detail-kit {
  position: absolute;
  top: 15%;
  right: 0;
  z-index: 0;
}

.home-container .floater-detail-kit img {
  width: 100%;
  opacity: 0.3;
}

.home-container .floater-detail-servicos {
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 0;
}

.home-container .floater-detail-servicos img {
  width: 100%;
  opacity: 0.3;
}

@media only screen and (max-width: 768px) {
  .home-container .floater-detail {
    display: none;
  }
  .home-container .floater-detail-kit {
    display: none;
  }
}

.home-container .floater-detail2 img {
  width: 80%;
  opacity: 0.3;
}

.home-container .floater-detail2 {
  position: absolute;
  bottom: 25%;
  left: 0;
  z-index: 0;
}

.home-container .floater-detail-empresa img {
  width: 80%;
  opacity: 0.3;
}

.home-container .floater-detail-empresa {
  position: absolute;
  bottom: 35%;
  left: 0;
  z-index: 0;
}

@media only screen and (max-width: 768px) {

  .home-container .floater-detail2 {
    display: none;
  }
  .home-container .floater-detail-empresa {
    display: none;
  }

}

.home-container .beneficios .row img{
  height: 100px;
  padding-bottom: 2em;
}

.home-container .number-shadow{
  margin: 0px;
  padding: 0px;
  color: #455269;
  opacity: 0.5;
  font-size: 7rem;
  line-height: 0.5em;
  margin-bottom: 15px;
  z-index: 1;
  font-weight: 900;
}
.home-container .beneficios .col-md-3{
  transition: all ease 0.2s;
}

.home-container .beneficios .col-md-3:hover{
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .home-container .services .kit-rev {
    text-align: center!important;
    padding-bottom: 2em;
  }

  .home-container .beneficios{
    text-align: center;
  }

  .home-container .beneficios .col-12{
    padding-bottom: 70px;
  }

  .home-container .beneficios .col-12:last-child{
    padding-bottom: initial;
  }

}

.home-container .procedimento .col-sm {
  flex-grow: 0.05;
}

.home-container .procedimento .col-sm img{
  height: 200px;
  width: 250px;
  transition: ease all 0.2s;
}

.home-container .procedimento .col-sm img:hover{
  transform: scale(1.15);
}

@media only screen and (max-width: 768px) {
  .home-container .procedimento .col-sm {
    padding-bottom: 1em;
  }

}

.home-container .sistemas .sistemas-boxes {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .home-container .sistemas .sistemas-boxes {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .home-container .sistemas .sistemas-boxes .box {
    width: 100% !important;
  }

  .home-container .sistemas .sistemas-boxes .left-box {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .home-container .sistemas .sistemas-boxes .left-box .text {
    padding: 0 5vw;
  }

  .home-container .sistemas .sistemas-boxes .right-box {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .home-container .sistemas .sistemas-boxes .right-box .text {
    padding: 0 5vw;
  }

  .home-container .sistemas .sistemas-boxes .box:hover {
    width: 100% !important;
  }
}

.home-container .sistemas .sistemas-boxes .box {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  height: 450px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: 0.5s all;
  position: relative;
  color: #fff;
  z-index: 1;
}

.home-container .sistemas .sistemas-boxes .left-box {
  background-image: url("/assets/img/icon-pintura.png");
  background-size: 50%;
  background-position: 20vw;
  padding-left: 20%;
  padding-right: 5%;
}

.home-container .sistemas .sistemas-boxes .right-box {
  background-image: url("/assets/img/icon-seguranca.png");
  background-size: 30%;
  background-position: 20vh;
  padding-right: 20%;
  padding-left: 5%;
}

.home-container .sistemas .sistemas-boxes .box .title {
  z-index: 1;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}

.home-container .sistemas .sistemas-boxes .box .title span {
  z-index: 1;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.home-container .sistemas .sistemas-boxes .box .text {
  z-index: 1;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  display: block;
  transition: 0.4 all;
}

.home-container .sistemas .sistemas-boxes .box .sistemas__button {
  z-index: 1;
  margin-top: 20px;
}

.home-container .sistemas .sistemas-boxes .box .link i {
  margin-left: 10px;
}

.home-container .sistemas .sistemas-boxes .box .overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: #226764;
  opacity: 0.8;
  transition: 0.4 all;
}

.home-container .sistemas .sistemas-boxes .box:hover {
  width: 100%;
}

.home-container .sistemas .sistemas-boxes .box:hover .overlay-box {
  background-color: #3cb4aa;
}

.home-container .sistemas .sistemas-boxes .box:hover .sistemas__button {
  color: #2d3134;
  background-color: #fff;
  text-decoration: none;
}

.sistemas__button {
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.2rem;
  padding: 15px 35px;
  border: 1px solid #fff;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.4s;
}

.sistemas__button:hover {
  color: #2d3134!important;
  background-color: #fff;
  text-decoration: none;
}

/* --- Boxes case */

.home-container .cases-box .sistemas-boxes {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .home-container .cases-box .sistemas-boxes {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .home-container .cases-box .sistemas-boxes .box {
    width: 100% !important;
  }

  .home-container .cases-box .sistemas-boxes .left-box {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .home-container .cases-box .sistemas-boxes .left-box .text {
    padding: 0 5vw;
  }

  .home-container .cases-box .sistemas-boxes .right-box {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .home-container .cases-box .sistemas-boxes .right-box .text {
    padding: 0 5vw;
  }

  .home-container .cases-box .sistemas-boxes .box:hover {
    width: 100% !important;
  }
}

.home-container .cases-box .sistemas-boxes .box {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  height: 450px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: 0.5s all;
  position: relative;
  color: #fff;
  z-index: 1;
}

.home-container .cases-box .sistemas-boxes .left-box {
  background-image: url("/assets/img/empresa-case1.png");
  background-size: cover;
  background-position: center;
}

.home-container .cases-box .sistemas-boxes .right-box {
  background-image: url("/assets/img/empresa-case2.png");
  background-size: cover;
  background-position: center;
}

.home-container .cases-box .sistemas-boxes .box .title {
  z-index: 1;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}

.home-container .cases-box .sistemas-boxes .box .title span {
  z-index: 1;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.home-container .cases-box .sistemas-boxes .box .text {
  z-index: 1;
  font-size: 16px;
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  display: block;
  transition: 0.4 all;
}

.home-container .cases-box .sistemas-boxes .box .sistemas__button {
  z-index: 1;
  margin-top: 20px;
}

.home-container .cases-box .sistemas-boxes .box .link i {
  margin-left: 10px;
}

.home-container .cases-box .sistemas-boxes .box .overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: #202020;
  opacity: 0.5;
  transition: 0.4 all;
}

.home-container .cases-box .sistemas-boxes .box:hover {
  width: 100%;
}

.home-container .cases-box .sistemas-boxes .box:hover .overlay-box {
  background-color: #3cb4aa;
}

.home-container .cases-box .sistemas-boxes .box:hover .sistemas__button {
  color: #2d3134;
  background-color: #fff;
  text-decoration: none;
}

.saiba-mais__button {
  font-weight: 700;
  color: #000;
  font-size: 16px;
  letter-spacing: 0.2rem;
  padding: 15px 35px;
  border: 1px solid #000;
  cursor: pointer;
  transition: 0.4s;
}

.saiba-mais__button:hover {
  transform: scale(1.1);
  color: #ffffff !important;
  background: var(--bggradient);
}

.home-container .blindadora {
  background: url("/assets/img/bg-blindadora.jpg") no-repeat;
  background-position: 100%;
  background-size: cover;
  text-align: center;
  padding: 100px 0px;
  cursor: pointer;
  text-decoration: none;
}


.home-container .vistoria .row .col-md-6:first-child {
  z-index: 2;
}

.home-container .vistoria .row .col-md-6:first-child img {
  width: 90%;
}

.home-container .vistoria .row .col-md-6 {
  padding: 0 2em!important;
}

.home-container .vistoria .row .col-md-6 a {
  color: #fff;
}

.aling-itens {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.title-left {
  text-align: right;
  align-items: flex-end;
}

.title-right {
  text-align: left;
  align-items: flex-start;
}

.text-blue-chroma {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  z-index: 1;
  font-weight: 700;
  color: var(--blue-chroma);
}

@media only screen and (max-width: 768px) {

  .home-container .vistoria  {
    text-align: center;
  }

  .home-container .vistoria .col-12:first-child img {
    padding-bottom: 2em;
  }

  .title-left {
    text-align: center;
  }

  .title-right {
    text-align: center;
    padding-bottom: 30px;
  }
}

.home-container .marcas {
  background: url("/assets/img/bg-marcas.jpg") no-repeat;
  background-position: 100%;
  background-size: cover;
  text-align: center;
  padding: 100px 0px;
}

.home-container .empresas {
  background: #fff;
  text-align: center;
  padding: 100px 0px;
}

.home-container .marcas .home-title,
.home-container .blindadora .home-title,
.home-container .logistica .home-title,
.home-container .solution .home-title,
.home-container .consultor .home-title  {
  margin: 0px;
  padding: 0px;
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 35px;
  z-index: 1;
  font-weight: 300;
}

.home-container .marcas .home-title span,
.home-container .blindadora .home-title span,
.home-container .logistica .home-title span {
  margin: 0px;
  padding: 0px;
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 35px;
  z-index: 1;
  font-weight: 700;
}

.home-container .marcas .home-text,
.home-container .blindadora .home-text,
.home-container .logistica .home-text,
.home-container .solution .home-text,
.home-container .consultor .home-text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  z-index: 1;
  position: relative;
  line-height: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .clientes .depo {
    padding: initial !important;
  }
}

.clientes .depo {
  padding: 0 7rem;
  align-items: center;
}

.clientes .depo img {
  display: inline;
}

.clientes .depoimentos .slick-dots {
  padding-top: 5rem;
}

.clientes .depo .slick-dots li button {
  color: #000 !important;
  background-color: #000 !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  background: #226764 !important;
  color: black;
}

.slick-dots li button:before {
  border: 2px solid #009688 !important;
}

.clientes .depo .title-depo {
  margin: 0px;
  padding: 0px;
  color: #226764;
  font-size: 32px;
  margin-bottom: 35px;
  z-index: 1;
  font-weight: 300;
}

.marcas .montadoras .logo {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
}

.marcas .montadoras .logo img {
  display: initial !important;
}

.marcas .montadoras {
  width: 80vw;
  display: block;
  margin: 0 auto;
  position: relative;
}

.slick-slide img {
  display: initial !important;
}

@media only screen and (max-width: 1200px) {
  .marcas .montadoras {
    width: 100%;
  }
}

.marcas .montadoras i {
  font-size: 90px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  color: #000;
  width: 37px;
  height: 14px;
}

.marcas .montadoras i.right-arrow {
  right: -100px;
}

@media only screen and (max-width: 600px) {
  .marcas .montadoras i.right-arrow {
    right: 0;
  }
}

.marcas .montadoras i.left-arrow {
  left: -100px;
}

@media only screen and (max-width: 600px) {
  .marcas .montadoras i.left-arrow {
    left: 0;
  }
}


.home-container .logistica {
  background: var(--bggradient);
  padding: 100px 0px;
}

.home-container .logistica a:hover {
  color: #fff;
}

.home-container .logistica .col-md-6:first-child{
  text-align: left;
}

.home-container .logistica .col-md-6:last-child {
  padding-top: 3em;
}

@media only screen and (max-width: 768px) {

  .home-container .logistica .col-md-6:first-child{
    text-align: center;
  }

}

.home-container .diferenciais {
  background: var(--bggradient);
  color: #fff;
  text-align: left;
  padding: 100px 0px;
}

.list-group-item {
  display: flex!important;
  border: none !important;
  background-color: transparent !important;
}

.list-group-item img {
  padding-right: 1.6em;
  vertical-align: middle;
  height: fit-content;
}


/* Contato  */

.contact-box {
  position: relative;
  padding-bottom: 70px;
  z-index: 99;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .contact-box {
    height: 100%;
  }

  .contact-box .container {
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.contact-box .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.contact-box .container .form {
  width: 35%;
  background: #231f20;
  color: #fff;
  padding: 70px 50px;
  border-radius: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-pack: distribute;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 99;
  height: 1050px;
  font-size: 16px;
  font-weight: lighter;
  position: relative;
  top: -95px;
}

@media only screen and (max-width: 768px) {
  .contact-box .container .form {
    width: 100%;
    height: 100%;
    top: -40px;
  }
}

.contact-box .container .form .title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-box .container .form .subtitle {
  margin-bottom: 20px;
}

.contact-box .container .form .contact-form {
  width: 100%;
  height: 600px;
}

.contact-box .container .form .contact-form label {
  color: #fff;
  margin-bottom: 10px;
}

.contact-box .container .form .contact-form input,
.contact-box .container .form .contact-form select,
.contact-box .container .form .contact-form textarea {
  background: none;
  color: #fff;
  width: 100%;
  padding: 14px;
  border: 1px solid #fff;
  margin-bottom: 30px;
}

.contact-box .container .form .contact-form select {
  height: 50px;
}

.contact-box .container .form .contact-form .btn-enviar {
  background: var(--bggradient);
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1rem;
  padding: 15px 35px;
  cursor: pointer;
  border: 1px solid #226764;
  border-radius: unset;
  border: none;
  width: 100%;
}

.contact-box .container .form .contact-form .btn-enviar:hover {
  background: var(--light-blue);
}

.contact-box .container .map {
  width: 60%;
}

@media only screen and (max-width: 768px) {
  .contact-box .container .map {
    text-align: center;
    width: 100%;
    height: 100%;
  }
}

/* Social */

.social {
  background-color: #313538;
  color: #fff;
  align-items: center;
  padding: 2px 0;
  text-decoration: none;
}

.social .row .brand {
  text-align: right;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}

.social .row .siga {
  text-align: left;
  padding-top: 3px;
}

.botoes {
  margin-bottom: 0px;
}

.botoes button {
  background: transparent;
  padding: 20px 20px;
  text-decoration: none;
}

.botoes button:hover {
  background: #2d3134;
  cursor: pointer;
}

.botoes button:hover i {
  color: var(--blue-chroma);
}

.list-inline-item:not(:last-child) {
  margin: 0px !important;
}

.social i {
  align-items: center;
}

/* Footer */

@media only screen and (max-width: 768px) {
  .social .row .brand {
    text-align: center !important;
  }

  .social .row .siga {
    text-align: center !important;
  }

  footer {
    text-align: center;
  }

  .footer .input-group {
    padding: 0 3rem 2rem 3rem !important;
  }
}

.footer {
  background-color: #2d3134;
  color: #fff;
  padding-top: 50px;
}

.footer a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  z-index: 1;
  position: relative;
  line-height: 1.5rem;
  text-decoration: none;
}

.footer a:hover {
  color: var(--blue-chroma);
  text-decoration: none;
}

.footer input {
  background: #313538;
  border: none;
  border-radius: unset;
}

.footer .input-group {
  padding-right: 7rem;
}

.footer input::placeholder {
  background: #313538;
  color: #fff;
}

.footer input:placeholder-shown {
  background: #313538;
  color: #fff;
}

.btn-cadastrar {
  background: #3cb4aa;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #226764;
  border-radius: unset;
}

.btn-cadastrar:hover {
  background: #2d3134;
}

.btn-orcamento {
  background: var(--btngradient);
  margin-top: 40px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.1rem;
  padding: 15px 35px;
  cursor: pointer;
  border-radius: unset;
}

.btn-orcamento:hover {
  background: #3cb4aa;
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 2px 20px -5px rgba(70, 50, 50, 0.87);
}

.btn-orcamento img {
  margin-left: 10px;
}

.btn-orcamento:hover img {
  margin-left: 12px;
  transition: 0.3s;
}